*, *:before, *:after {
  box-sizing: inherit;
}
input, textarea, select {
  box-sizing: border-box;
}

body {
  color: #000;
  font-size: 13px;
  line-height: 1.5;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  position: relative;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.news {
  margin-top: 20px;
  border-top: 1px solid rgba(0,0,0,.15);
}
.news__container {
  width: 80vw;
  margin: 25px auto;
  padding: 25px;
  background-color: rgba(100,100,100,.15);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.05), 0 0 20px 5px rgba(0,0,0,.1);
}
.news__item {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,.15);
}
.news__author {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .1;
  margin-bottom: 10px;
}
.news__text {
  font-size: 12px;
  margin-bottom: 10px;
}
.news__full-text {

}
.news__read-more {

}
.news__counter {
  margin-top: 20px;
}
.news__counter-inner {

}

/*** add news section ***/
.news-add__form {
  padding: 20px;
  border: 1px solid rgba(0,0,0,.15);
}
.news-add__textarea {
  width: 100%;
  min-height: 125px;
  font-size: 12px;
  padding: 15px 20px;
}
.news-add__check-rules {
  display: block;
  font-size: 11px;
  color: #6f6f6f;
  margin-top: 10px;
  cursor: pointer;
}
.news-add__btn {
  min-width: 185px;
  margin-top: 20px;
  height: 26px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 0;
  border: 2px solid rgba(0,0,0,.45);
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

/*** helpers ***/
.none {
  display: none !important;
}
